@page
@model WebTeacher.Pages.Select.ResultModel
@{
    ViewData["Title"] = "Výsledek";
    var result = Model.CleanResult;
    var resultClass = Model.ResultClass;
    bool invalid = Model.InvalidAccess;
    var id = Model.ID;
}

@if (invalid)
{
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Tady nemáte být!</h4>
    <p><strong>Přístup byl zamítnut.</strong> Tato stránka obsahuje obsah pouze pokud má údaje z předchozího testování!</p>
    <hr>
    <p class="mb-0">Pokud chcete zobrazit obsah, otestujte se prosím.</p>
</div>
}
else
{
<table class="table table-striped">
    <tbody>
        @for(int i = 0; i<result.Count; i++)
        {
        <tr class="@resultClass[i]">
            <td>@result[i]</td>
        </tr>
        }
    </tbody>
</table>
<a asp-area="" asp-page="./Info/" asp-route-id="@id" class="list-group-item list-group-item-action"> Zpět na lekci </a>
}

